TG_BOT_TOKEN=0000000000000:7PIThN8LmYBs7wkoQ9Z6ts08R3JO+Tu/ZQL9AqyJa3/  # telegram bot token
TG_BOT_ADMINS=00000001,00000002  # telegram ids of admins, separated by comma

POSTGRES_USER=postgres
POSTGRES_DATABASE_NAME=postgres
POSTGRES_PASSWORD=mhYInZYRaWZy3q+ifD7qkQ  # set a secure psk; e.g. via `openssl rand -base64 16`
